@media (min-width:  1400px) {
    .container {
        max-width: 1224px !important;
    }
}
.row>* {
    position: relative;
}
h1, .h1 {
    font-size: 36px !important;
}
h2, .h2 {
    font-size: 32px !important;
}
h3, .h3 {
    font-size: 28px !important;
}
h4, .h4 {
    font-size: 20px !important;
}
h5, .h5 {
    font-size: 18px !important;
}
h6, .h6 {
    font-size: 15px !important;
}
.display-1 {
    font-size: 72px !important;
}
.display-2 {
    font-size: 64px !important;
}
.display-3 {
    font-size: 56px !important;
}
.display-4 {
    font-size: 48px !important;
}
.display-5 {
    font-size: 44px !important;
}
.display-6 {
    font-size: 40px !important;
}
.bg-primary {
    background-color: #ed5363 !important;
}
.bg-soft-primary {
    background-color: rgba(50, 116, 240, 0.1) !important;
    border: 1px solid rgba(50, 116, 240, 0.1) !important;
    color: #ed5363 !important;
}
.bg-soft-primary .border {
    border-color: #ed5363 !important;
}
.text-primary {
    color: #ed5363 !important;
}
a.text-primary:hover, a.text-primary:focus {
    color: #1a64ee !important;
}
.bg-secondary {
    background-color: #90a1b3 !important;
}
.bg-soft-secondary {
    background-color: rgba(144, 161, 179, 0.1) !important;
    border: 1px solid rgba(144, 161, 179, 0.1) !important;
    color: #90a1b3 !important;
}
.bg-soft-secondary .border {
    border-color: #90a1b3 !important;
}
.text-secondary {
    color: #90a1b3 !important;
}
a.text-secondary:hover, a.text-secondary:focus {
    color: #8194a9 !important;
}
.bg-success {
    background-color: #8dc351 !important;
}
.bg-soft-success {
    background-color: rgba(141, 195, 81, 0.1) !important;
    border: 1px solid rgba(141, 195, 81, 0.1) !important;
    color: #8dc351 !important;
}
.bg-soft-success .border {
    border-color: #8dc351 !important;
}
.text-success {
    color: #8dc351 !important;
}
a.text-success:hover, a.text-success:focus {
    color: #80ba40 !important;
}
.bg-warning {
    background-color: #f1af2d !important;
}
.bg-soft-warning {
    background-color: rgba(241, 175, 45, 0.1) !important;
    border: 1px solid rgba(241, 175, 45, 0.1) !important;
    color: #f1af2d !important;
}
.bg-soft-warning .border {
    border-color: #f1af2d !important;
}
.text-warning {
    color: #f1af2d !important;
}
a.text-warning:hover, a.text-warning:focus {
    color: #efa615 !important;
}
.bg-info {
    background-color: #09a5be !important;
}
.bg-soft-info {
    background-color: rgba(9, 165, 190, 0.1) !important;
    border: 1px solid rgba(9, 165, 190, 0.1) !important;
    color: #09a5be !important;
}
.bg-soft-info .border {
    border-color: #09a5be !important;
}
.text-info {
    color: #09a5be !important;
}
a.text-info:hover, a.text-info:focus {
    color: #0890a6 !important;
}
.bg-danger {
    background-color: #e84142 !important;
}
.bg-soft-danger {
    background-color: rgba(232, 65, 66, 0.1) !important;
    border: 1px solid rgba(232, 65, 66, 0.1) !important;
    color: #e84142 !important;
}
.bg-soft-danger .border {
    border-color: #e84142 !important;
}
.text-danger {
    color: #e84142 !important;
}
a.text-danger:hover, a.text-danger:focus {
    color: #e52a2b !important;
}
.bg-dark {
    background-color: #3c4858 !important;
}
.bg-soft-dark {
    background-color: rgba(60, 72, 88, 0.1) !important;
    border: 1px solid rgba(60, 72, 88, 0.1) !important;
    color: #3c4858 !important;
}
.bg-soft-dark .border {
    border-color: #3c4858 !important;
}
.text-dark {
    color: #3c4858 !important;
}
a.text-dark:hover, a.text-dark:focus {
    color: #323c49 !important;
}
.bg-muted {
    background-color: #8c98a4 !important;
}
.bg-soft-muted {
    background-color: rgba(140, 152, 164, 0.1) !important;
    border: 1px solid rgba(140, 152, 164, 0.1) !important;
    color: #8c98a4 !important;
}
.bg-soft-muted .border {
    border-color: #8c98a4 !important;
}
.text-muted {
    color: #8c98a4 !important;
}
a.text-muted:hover, a.text-muted:focus {
    color: #7e8b99 !important;
}
.bg-light {
    background-color: #f7f8fa !important;
}
.bg-soft-light {
    background-color: rgba(247, 248, 250, 0.1) !important;
    border: 1px solid rgba(247, 248, 250, 0.1) !important;
    color: #f7f8fa !important;
}
.bg-soft-light .border {
    border-color: #f7f8fa !important;
}
.text-light {
    color: #f7f8fa !important;
}
a.text-light:hover, a.text-light:focus {
    color: #e7eaf0 !important;
}
.bg-blue {
    background-color: #ed5363 !important;
}
.bg-soft-blue {
    background-color: rgba(50, 116, 240, 0.1) !important;
    border: 1px solid rgba(50, 116, 240, 0.1) !important;
    color: #ed5363 !important;
}
.bg-soft-blue .border {
    border-color: #ed5363 !important;
}
.text-blue {
    color: #ed5363 !important;
}
a.text-blue:hover, a.text-blue:focus {
    color: #1a64ee !important;
}
.bg-footer {
    background-color: #1e273e !important;
}
.bg-soft-footer {
    background-color: rgba(30, 39, 62, 0.1) !important;
    border: 1px solid rgba(30, 39, 62, 0.1) !important;
    color: #1e273e !important;
}
.bg-soft-footer .border {
    border-color: #1e273e !important;
}
.text-footer {
    color: #1e273e !important;
}
a.text-footer:hover, a.text-footer:focus {
    color: #161c2d !important;
}
.bg-light, .bg-soft-light {
    color: #3c4858 !important;
}
a {
    transition: all 0.5s ease;
}
.d-flex .flex-1 {
    flex: 1;
}
.bg-black {
    background: #161c2d !important;
}
.bg-white-blur {
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.8);
}
video:focus {
    outline: none;
}
.list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;
}
.opacity-05 {
    opacity: 0.05;
}
.opacity-075 {
    opacity: 0.075;
}
.opacity-1 {
    opacity: 0.1;
}
.opacity-2 {
    opacity: 0.2;
}
.opacity-3 {
    opacity: 0.3;
}
.opacity-4 {
    opacity: 0.4;
}
.opacity-5 {
    opacity: 0.5;
}
.opacity-6 {
    opacity: 0.6;
}
.opacity-7 {
    opacity: 0.7;
}
.opacity-8 {
    opacity: 0.8;
}
.opacity-9 {
    opacity: 0.9;
}
.rounded {
    border-radius: 6px !important;
}
.rounded-top {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.rounded-left {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
.rounded-bottom {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.rounded-right {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.rounded-md {
    border-radius: 10px !important;
}
.rounded-lg {
    border-radius: 30px !important;
}
.border {
    border-color: #e9ecef !important;
}
.border-top {
    border-top-color: #e9ecef !important;
}
.border-bottom {
    border-bottom-color: #e9ecef !important;
}
.border-left {
    border-left-color: #e9ecef !important;
}
.border-right {
    border-right-color: #e9ecef !important;
}
.small, small {
    font-size: 90%}
.card {
    background: transparent;
}
.card .card-body {
    padding: 1.5rem;
}
.position-middle-bottom {
    position: absolute;
    bottom: 15px;
    left: 12px;
    right: 12px;
    text-align: center;
}
@media (max-width: 767px) {
    .pt-sm-150 {
        padding-top: 200px;
    }
}@media (max-width: 768px) {
    .display-1 {
        font-size: 56px !important;
    }
    .display-2 {
        font-size: 50px !important;
    }
    .display-3 {
        font-size: 42px !important;
    }
    .display-4 {
        font-size: 36px !important;
    }
    .display-5 {
        font-size: 32px !important;
    }
    .display-6 {
        font-size: 28px !important;
    }
}.btn-primary {
     background-color: #ed5363 !important;
     border: 1px solid #ed5363 !important;
     color: #fff !important;
     box-shadow: 0 3px 5px 0 rgba(237, 83, 99, 0.3);
 }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus {
    background-color: #be3947 !important;
    border-color: #be3947 !important;
    color: #fff !important;
}
.btn-soft-primary {
    background-color: rgba(50, 116, 240, 0.1) !important;
    border: 1px solid rgba(50, 116, 240, 0.1) !important;
    color: #ed5363 !important;
    box-shadow: 0 3px 5px 0 rgba(50, 116, 240, 0.3);
}
.btn-soft-primary:hover, .btn-soft-primary:focus, .btn-soft-primary:active, .btn-soft-primary.active, .btn-soft-primary.focus {
    background-color: #ed5363 !important;
    border-color: #ed5363 !important;
    color: #fff !important;
}
.btn-outline-primary {
    border: 1px solid #ed5363;
    color: #ed5363;
    background-color: transparent;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #ed5363;
    border-color: #ed5363;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(50, 116, 240, 0.3);
}
.btn-secondary {
    background-color: #90a1b3 !important;
    border: 1px solid #90a1b3 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(144, 161, 179, 0.3);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary.focus {
    background-color: #72879e !important;
    border-color: #72879e !important;
    color: #fff !important;
}
.btn-soft-secondary {
    background-color: rgba(144, 161, 179, 0.1) !important;
    border: 1px solid rgba(144, 161, 179, 0.1) !important;
    color: #90a1b3 !important;
    box-shadow: 0 3px 5px 0 rgba(144, 161, 179, 0.3);
}
.btn-soft-secondary:hover, .btn-soft-secondary:focus, .btn-soft-secondary:active, .btn-soft-secondary.active, .btn-soft-secondary.focus {
    background-color: #90a1b3 !important;
    border-color: #90a1b3 !important;
    color: #fff !important;
}
.btn-outline-secondary {
    border: 1px solid #90a1b3;
    color: #90a1b3;
    background-color: transparent;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.focus, .btn-outline-secondary:not(:disabled):not(.disabled):active {
    background-color: #90a1b3;
    border-color: #90a1b3;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(144, 161, 179, 0.3);
}
.btn-success {
    background-color: #8dc351 !important;
    border: 1px solid #8dc351 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(141, 195, 81, 0.3);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus {
    background-color: #73a73a !important;
    border-color: #73a73a !important;
    color: #fff !important;
}
.btn-soft-success {
    background-color: rgba(141, 195, 81, 0.1) !important;
    border: 1px solid rgba(141, 195, 81, 0.1) !important;
    color: #8dc351 !important;
    box-shadow: 0 3px 5px 0 rgba(141, 195, 81, 0.3);
}
.btn-soft-success:hover, .btn-soft-success:focus, .btn-soft-success:active, .btn-soft-success.active, .btn-soft-success.focus {
    background-color: #8dc351 !important;
    border-color: #8dc351 !important;
    color: #fff !important;
}
.btn-outline-success {
    border: 1px solid #8dc351;
    color: #8dc351;
    background-color: transparent;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.focus, .btn-outline-success:not(:disabled):not(.disabled):active {
    background-color: #8dc351;
    border-color: #8dc351;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(141, 195, 81, 0.3);
}
.btn-warning {
    background-color: #f1af2d !important;
    border: 1px solid #f1af2d !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(241, 175, 45, 0.3);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus {
    background-color: #dc970f !important;
    border-color: #dc970f !important;
    color: #fff !important;
}
.btn-soft-warning {
    background-color: rgba(241, 175, 45, 0.1) !important;
    border: 1px solid rgba(241, 175, 45, 0.1) !important;
    color: #f1af2d !important;
    box-shadow: 0 3px 5px 0 rgba(241, 175, 45, 0.3);
}
.btn-soft-warning:hover, .btn-soft-warning:focus, .btn-soft-warning:active, .btn-soft-warning.active, .btn-soft-warning.focus {
    background-color: #f1af2d !important;
    border-color: #f1af2d !important;
    color: #fff !important;
}
.btn-outline-warning {
    border: 1px solid #f1af2d;
    color: #f1af2d;
    background-color: transparent;
}
.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.focus, .btn-outline-warning:not(:disabled):not(.disabled):active {
    background-color: #f1af2d;
    border-color: #f1af2d;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(241, 175, 45, 0.3);
}
.btn-info {
    background-color: #09a5be !important;
    border: 1px solid #09a5be !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(9, 165, 190, 0.3);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus {
    background-color: #077b8d !important;
    border-color: #077b8d !important;
    color: #fff !important;
}
.btn-soft-info {
    background-color: rgba(9, 165, 190, 0.1) !important;
    border: 1px solid rgba(9, 165, 190, 0.1) !important;
    color: #09a5be !important;
    box-shadow: 0 3px 5px 0 rgba(9, 165, 190, 0.3);
}
.btn-soft-info:hover, .btn-soft-info:focus, .btn-soft-info:active, .btn-soft-info.active, .btn-soft-info.focus {
    background-color: #09a5be !important;
    border-color: #09a5be !important;
    color: #fff !important;
}
.btn-outline-info {
    border: 1px solid #09a5be;
    color: #09a5be;
    background-color: transparent;
}
.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.focus, .btn-outline-info:not(:disabled):not(.disabled):active {
    background-color: #09a5be;
    border-color: #09a5be;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(9, 165, 190, 0.3);
}
.btn-danger {
    background-color: #e84142 !important;
    border: 1px solid #e84142 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(232, 65, 66, 0.3);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.focus {
    background-color: #db1b1c !important;
    border-color: #db1b1c !important;
    color: #fff !important;
}
.btn-soft-danger {
    background-color: rgba(232, 65, 66, 0.1) !important;
    border: 1px solid rgba(232, 65, 66, 0.1) !important;
    color: #e84142 !important;
    box-shadow: 0 3px 5px 0 rgba(232, 65, 66, 0.3);
}
.btn-soft-danger:hover, .btn-soft-danger:focus, .btn-soft-danger:active, .btn-soft-danger.active, .btn-soft-danger.focus {
    background-color: #e84142 !important;
    border-color: #e84142 !important;
    color: #fff !important;
}
.btn-outline-danger {
    border: 1px solid #e84142;
    color: #e84142;
    background-color: transparent;
}
.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.focus, .btn-outline-danger:not(:disabled):not(.disabled):active {
    background-color: #e84142;
    border-color: #e84142;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(232, 65, 66, 0.3);
}
.btn-dark {
    background-color: #3c4858 !important;
    border: 1px solid #3c4858 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus {
    background-color: #272f3a !important;
    border-color: #272f3a !important;
    color: #fff !important;
}
.btn-soft-dark {
    background-color: rgba(60, 72, 88, 0.1) !important;
    border: 1px solid rgba(60, 72, 88, 0.1) !important;
    color: #3c4858 !important;
    box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
}
.btn-soft-dark:hover, .btn-soft-dark:focus, .btn-soft-dark:active, .btn-soft-dark.active, .btn-soft-dark.focus {
    background-color: #3c4858 !important;
    border-color: #3c4858 !important;
    color: #fff !important;
}
.btn-outline-dark {
    border: 1px solid #3c4858;
    color: #3c4858;
    background-color: transparent;
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.focus, .btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: #3c4858;
    border-color: #3c4858;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
}
.btn-muted {
    background-color: #8c98a4 !important;
    border: 1px solid #8c98a4 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(140, 152, 164, 0.3);
}
.btn-muted:hover, .btn-muted:focus, .btn-muted:active, .btn-muted.active, .btn-muted.focus {
    background-color: #707f8d !important;
    border-color: #707f8d !important;
    color: #fff !important;
}
.btn-soft-muted {
    background-color: rgba(140, 152, 164, 0.1) !important;
    border: 1px solid rgba(140, 152, 164, 0.1) !important;
    color: #8c98a4 !important;
    box-shadow: 0 3px 5px 0 rgba(140, 152, 164, 0.3);
}
.btn-soft-muted:hover, .btn-soft-muted:focus, .btn-soft-muted:active, .btn-soft-muted.active, .btn-soft-muted.focus {
    background-color: #8c98a4 !important;
    border-color: #8c98a4 !important;
    color: #fff !important;
}
.btn-outline-muted {
    border: 1px solid #8c98a4;
    color: #8c98a4;
    background-color: transparent;
}
.btn-outline-muted:hover, .btn-outline-muted:focus, .btn-outline-muted:active, .btn-outline-muted.active, .btn-outline-muted.focus, .btn-outline-muted:not(:disabled):not(.disabled):active {
    background-color: #8c98a4;
    border-color: #8c98a4;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(140, 152, 164, 0.3);
}
.btn-light {
    background-color: #f7f8fa !important;
    border: 1px solid #f7f8fa !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(247, 248, 250, 0.3);
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .btn-light.focus {
    background-color: #d8dde6 !important;
    border-color: #d8dde6 !important;
    color: #fff !important;
}
.btn-soft-light {
    background-color: rgba(247, 248, 250, 0.1) !important;
    border: 1px solid rgba(247, 248, 250, 0.1) !important;
    color: #f7f8fa !important;
    box-shadow: 0 3px 5px 0 rgba(247, 248, 250, 0.3);
}
.btn-soft-light:hover, .btn-soft-light:focus, .btn-soft-light:active, .btn-soft-light.active, .btn-soft-light.focus {
    background-color: #f7f8fa !important;
    border-color: #f7f8fa !important;
    color: #fff !important;
}
.btn-outline-light {
    border: 1px solid #f7f8fa;
    color: #f7f8fa;
    background-color: transparent;
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.focus, .btn-outline-light:not(:disabled):not(.disabled):active {
    background-color: #f7f8fa;
    border-color: #f7f8fa;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(247, 248, 250, 0.3);
}
.btn-blue {
    background-color: #ed5363 !important;
    border: 1px solid #ed5363 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(50, 116, 240, 0.3);
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .btn-blue.focus {
    background-color: #be3947 !important;
    border-color: #be3947 !important;
    color: #fff !important;
}
.btn-soft-blue {
    background-color: rgba(50, 116, 240, 0.1) !important;
    border: 1px solid rgba(50, 116, 240, 0.1) !important;
    color: #ed5363 !important;
    box-shadow: 0 3px 5px 0 rgba(50, 116, 240, 0.3);
}
.btn-soft-blue:hover, .btn-soft-blue:focus, .btn-soft-blue:active, .btn-soft-blue.active, .btn-soft-blue.focus {
    background-color: #ed5363 !important;
    border-color: #ed5363 !important;
    color: #fff !important;
}
.btn-outline-blue {
    border: 1px solid #ed5363;
    color: #ed5363;
    background-color: transparent;
}
.btn-outline-blue:hover, .btn-outline-blue:focus, .btn-outline-blue:active, .btn-outline-blue.active, .btn-outline-blue.focus, .btn-outline-blue:not(:disabled):not(.disabled):active {
    background-color: #ed5363;
    border-color: #ed5363;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(50, 116, 240, 0.3);
}
.btn-footer {
    background-color: #1e273e !important;
    border: 1px solid #1e273e !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(30, 39, 62, 0.3);
}
.btn-footer:hover, .btn-footer:focus, .btn-footer:active, .btn-footer.active, .btn-footer.focus {
    background-color: #0e111c !important;
    border-color: #0e111c !important;
    color: #fff !important;
}
.btn-soft-footer {
    background-color: rgba(30, 39, 62, 0.1) !important;
    border: 1px solid rgba(30, 39, 62, 0.1) !important;
    color: #1e273e !important;
    box-shadow: 0 3px 5px 0 rgba(30, 39, 62, 0.3);
}
.btn-soft-footer:hover, .btn-soft-footer:focus, .btn-soft-footer:active, .btn-soft-footer.active, .btn-soft-footer.focus {
    background-color: #1e273e !important;
    border-color: #1e273e !important;
    color: #fff !important;
}
.btn-outline-footer {
    border: 1px solid #1e273e;
    color: #1e273e;
    background-color: transparent;
}
.btn-outline-footer:hover, .btn-outline-footer:focus, .btn-outline-footer:active, .btn-outline-footer.active, .btn-outline-footer.focus, .btn-outline-footer:not(:disabled):not(.disabled):active {
    background-color: #1e273e;
    border-color: #1e273e;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(30, 39, 62, 0.3);
}
.btn {
    padding: 8px 26px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.25;
    transition: all 0.3s;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    border-radius: 4px;
}
.btn:focus {
    box-shadow: none !important;
}
.btn.btn-sm {
    padding: 7px 16px;
    font-size: 10px;
}
.btn.btn-lg {
    padding: 14px 30px;
    font-size: 16px;
}
.btn.searchbtn {
    padding: 6px 20px;
}
.btn.btn-pills {
    border-radius: 30px;
}
.btn.btn-pills-0 {
    border-radius: 0;
}
.btn.btn-font-sm {
    font-size: 14px;
}
.btn.btn-light {
    color: #3c4858 !important;
    border: 1px solid #dee2e6 !important;
}
.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light:active, .btn.btn-light.active, .btn.btn-light.focus {
    background-color: #3c4858 !important;
    border: 1px solid #3c4858 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
}
.btn.btn-soft-light {
    color: rgba(60, 72, 88, 0.5) !important;
    border: 1px solid #dee2e6 !important;
}
.btn.btn-soft-light:hover, .btn.btn-soft-light:focus, .btn.btn-soft-light:active, .btn.btn-soft-light.active, .btn.btn-soft-light.focus {
    color: #3c4858 !important;
}
.btn.btn-outline-light {
    border: 1px solid #dee2e6 !important;
    color: #3c4858 !important;
    background-color: transparent;
}
.btn.btn-outline-light:hover, .btn.btn-outline-light:focus, .btn.btn-outline-light:active, .btn.btn-outline-light.active, .btn.btn-outline-light.focus {
    background-color: #f7f8fa !important;
}
.btn.btn-icon {
    height: 44px;
    width: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}
.btn.btn-icon .icons {
    height: 16px;
    width: 16px;
    font-size: 16px;
}
.btn.btn-icon.btn-lg {
    height: 54px;
    width: 54px;
}
.btn.btn-icon.btn-lg .icons {
    height: 18px;
    width: 18px;
    font-size: 18px;
}
.btn.btn-icon.btn-sm {
    height: 31px;
    width: 31px;
}
button:not(:disabled) {
    outline: none;
}
.shadow {
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15) !important;
}
.shadow-lg {
    box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15) !important;
}
.shadow-md {
    box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
}
.text-shadow-dark-lg {
    text-shadow: 0 10px 25px rgba(60, 72, 88, 0.8);
    letter-spacing: 3px;
}
.badge {
    letter-spacing: 0.5px;
    padding: 4px 8px;
    font-weight: 500;
    line-height: 11px;
}
.badge.badge-link:hover {
    color: #fff !important;
}
.badge:hover {
    color: #fff;
}
.dropdown-primary .dropdown-menu .dropdown-item:hover, .dropdown-primary .dropdown-menu .dropdown-item.active, .dropdown-primary .dropdown-menu .dropdown-item:active, .dropdown-primary .dropdown-menu .dropdown-item.focus, .dropdown-primary .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #ed5363 !important;
}
.dropdown-secondary .dropdown-menu .dropdown-item:hover, .dropdown-secondary .dropdown-menu .dropdown-item.active, .dropdown-secondary .dropdown-menu .dropdown-item:active, .dropdown-secondary .dropdown-menu .dropdown-item.focus, .dropdown-secondary .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #90a1b3 !important;
}
.dropdown-success .dropdown-menu .dropdown-item:hover, .dropdown-success .dropdown-menu .dropdown-item.active, .dropdown-success .dropdown-menu .dropdown-item:active, .dropdown-success .dropdown-menu .dropdown-item.focus, .dropdown-success .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #8dc351 !important;
}
.dropdown-warning .dropdown-menu .dropdown-item:hover, .dropdown-warning .dropdown-menu .dropdown-item.active, .dropdown-warning .dropdown-menu .dropdown-item:active, .dropdown-warning .dropdown-menu .dropdown-item.focus, .dropdown-warning .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #f1af2d !important;
}
.dropdown-info .dropdown-menu .dropdown-item:hover, .dropdown-info .dropdown-menu .dropdown-item.active, .dropdown-info .dropdown-menu .dropdown-item:active, .dropdown-info .dropdown-menu .dropdown-item.focus, .dropdown-info .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #09a5be !important;
}
.dropdown-danger .dropdown-menu .dropdown-item:hover, .dropdown-danger .dropdown-menu .dropdown-item.active, .dropdown-danger .dropdown-menu .dropdown-item:active, .dropdown-danger .dropdown-menu .dropdown-item.focus, .dropdown-danger .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #e84142 !important;
}
.dropdown-dark .dropdown-menu .dropdown-item:hover, .dropdown-dark .dropdown-menu .dropdown-item.active, .dropdown-dark .dropdown-menu .dropdown-item:active, .dropdown-dark .dropdown-menu .dropdown-item.focus, .dropdown-dark .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #3c4858 !important;
}
.dropdown-muted .dropdown-menu .dropdown-item:hover, .dropdown-muted .dropdown-menu .dropdown-item.active, .dropdown-muted .dropdown-menu .dropdown-item:active, .dropdown-muted .dropdown-menu .dropdown-item.focus, .dropdown-muted .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #8c98a4 !important;
}
.dropdown-light .dropdown-menu .dropdown-item:hover, .dropdown-light .dropdown-menu .dropdown-item.active, .dropdown-light .dropdown-menu .dropdown-item:active, .dropdown-light .dropdown-menu .dropdown-item.focus, .dropdown-light .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #f7f8fa !important;
}
.dropdown-blue .dropdown-menu .dropdown-item:hover, .dropdown-blue .dropdown-menu .dropdown-item.active, .dropdown-blue .dropdown-menu .dropdown-item:active, .dropdown-blue .dropdown-menu .dropdown-item.focus, .dropdown-blue .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #ed5363 !important;
}
.dropdown-footer .dropdown-menu .dropdown-item:hover, .dropdown-footer .dropdown-menu .dropdown-item.active, .dropdown-footer .dropdown-menu .dropdown-item:active, .dropdown-footer .dropdown-menu .dropdown-item.focus, .dropdown-footer .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #1e273e !important;
}
.btn-group .dropdown-toggle:after {
    content: "";
    position: relative;
    right: -4px;
    top: -2px;
    border: solid #fff;
    border-radius: 0.5px;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 0;
    vertical-align: 0;
}
.btn-group .dropdown-menu {
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}
.btn-group .dropdown-menu:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 45px;
    box-sizing: border-box;
    border: 7px solid #495057;
    border-radius: 0.5px;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -2px 2px 2px -1px rgba(22, 28, 45, 0.15);
}
.alert-primary {
    background-color: rgba(50, 116, 240, 0.9);
    color: #fff;
    border-color: #ed5363;
}
.alert-primary .alert-link {
    color: #093280;
}
.alert-outline-primary {
    background-color: #fff;
    color: #ed5363;
    border-color: #ed5363;
}
.alert-secondary {
    background-color: rgba(144, 161, 179, 0.9);
    color: #fff;
    border-color: #90a1b3;
}
.alert-secondary .alert-link {
    color: #455565;
}
.alert-outline-secondary {
    background-color: #fff;
    color: #90a1b3;
    border-color: #90a1b3;
}
.alert-success {
    background-color: rgba(141, 195, 81, 0.9);
    color: #fff;
    border-color: #8dc351;
}
.alert-success .alert-link {
    color: #3f5b20;
}
.alert-outline-success {
    background-color: #fff;
    color: #8dc351;
    border-color: #8dc351;
}
.alert-warning {
    background-color: rgba(241, 175, 45, 0.9);
    color: #fff;
    border-color: #f1af2d;
}
.alert-warning .alert-link {
    color: #7d5608;
}
.alert-outline-warning {
    background-color: #fff;
    color: #f1af2d;
    border-color: #f1af2d;
}
.alert-info {
    background-color: rgba(9, 165, 190, 0.9);
    color: #fff;
    border-color: #09a5be;
}
.alert-info .alert-link {
    color: #02262c;
}
.alert-outline-info {
    background-color: #fff;
    color: #09a5be;
    border-color: #09a5be;
}
.alert-danger {
    background-color: rgba(232, 65, 66, 0.9);
    color: #fff;
    border-color: #e84142;
}
.alert-danger .alert-link {
    color: #801010;
}
.alert-outline-danger {
    background-color: #fff;
    color: #e84142;
    border-color: #e84142;
}
.alert-dark {
    background-color: rgba(60, 72, 88, 0.9);
    color: #fff;
    border-color: #3c4858;
}
.alert-dark .alert-link {
    color: #000;
}
.alert-outline-dark {
    background-color: #fff;
    color: #3c4858;
    border-color: #3c4858;
}
.alert-muted {
    background-color: rgba(140, 152, 164, 0.9);
    color: #fff;
    border-color: #8c98a4;
}
.alert-muted .alert-link {
    color: #434c54;
}
.alert-outline-muted {
    background-color: #fff;
    color: #8c98a4;
    border-color: #8c98a4;
}
.alert-light {
    background-color: rgba(247, 248, 250, 0.9);
    color: #fff;
    border-color: #f7f8fa;
}
.alert-light .alert-link {
    color: #99a6bf;
}
.alert-outline-light {
    background-color: #fff;
    color: #f7f8fa;
    border-color: #f7f8fa;
}
.alert-blue {
    background-color: rgba(50, 116, 240, 0.9);
    color: #fff;
    border-color: #ed5363;
}
.alert-blue .alert-link {
    color: #093280;
}
.alert-outline-blue {
    background-color: #fff;
    color: #ed5363;
    border-color: #ed5363;
}
.alert-footer {
    background-color: rgba(30, 39, 62, 0.9);
    color: #fff;
    border-color: #1e273e;
}
.alert-footer .alert-link {
    color: #000;
}
.alert-outline-footer {
    background-color: #fff;
    color: #1e273e;
    border-color: #1e273e;
}
.alert {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 13px;
}
.alert.alert-light {
    background-color: #fff;
    color: #3c4858;
    border-color: #e9ecef;
}
.alert.alert-dismissible {
    padding-right: 30px;
}
.alert.alert-dismissible .btn-close {
    top: 10px;
    right: 10px;
    padding: 0px;
}
.alert.alert-pills {
    border-radius: 30px;
    display: inline-block;
}
.alert.alert-pills .content {
    font-weight: 500;
}
.breadcrumb {
    letter-spacing: 0.5px;
    padding: 8px 24px;
    display: block;
}
.breadcrumb.breadcrumb-muted .breadcrumb-item a {
    color: rgba(255, 255, 255, 0.5);
}
.breadcrumb.breadcrumb-muted .breadcrumb-item a:hover {
    color: #fff !important;
}
.breadcrumb.breadcrumb-muted .breadcrumb-item:after {
    color: rgba(255, 255, 255, 0.5);
}
.breadcrumb.breadcrumb-muted .breadcrumb-item.active {
    color: #fff !important;
}
.breadcrumb .breadcrumb-item {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding-left: 0;
    display: inline-block;
}
.breadcrumb .breadcrumb-item a {
    color: #3c4858;
}
.breadcrumb .breadcrumb-item a:hover {
    color: #ed5363;
}
.breadcrumb .breadcrumb-item.active {
    color: #ed5363;
}
.breadcrumb .breadcrumb-item:before {
    content: ""}
.breadcrumb .breadcrumb-item:after {
    content: "\F0142" !important;
    font-size: 15px;
    color: #3c4858;
    font-family: 'Material Design Icons';
    padding-left: 5px;
}
.breadcrumb .breadcrumb-item:last-child:after {
    display: none;
}
.pagination .page-item .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: #3c4858;
    padding: 0;
    width: 36px;
    height: 36px;
    margin: auto 8px;
    background: #f8f9fa;
    transition: all 0.5s ease;
    font-size: 14px;
}
.pagination .page-item .page-link.active, .pagination .page-item .page-link:hover {
    background: #ed5363;
    color: #fff;
    box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
}
.avatar.avatar-ex-sm {
    max-height: 25px;
}
.avatar.avatar-md-sm {
    height: 45px;
    width: 45px;
}
.avatar.avatar-small {
    height: 65px;
    width: 65px;
}
.avatar.avatar-md-md {
    height: 80px;
    width: 80px;
}
.avatar.avatar-medium {
    height: 110px;
    width: 110px;
}
.avatar.avatar-large {
    height: 140px;
    width: 140px;
}
.avatar.avatar-ex-large {
    height: 180px;
    width: 180px;
}
.accordion .accordion-item {
    overflow: hidden;
}
.accordion .accordion-item .accordion-button {
    font-weight: 500;
    text-align: left;
    padding-right: 32px;
}
.accordion .accordion-item .accordion-button:focus {
    box-shadow: none;
}
.accordion .accordion-item .accordion-button:after {
    content: '-';
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #ed5363;
    position: absolute;
    right: 20px;
    transition: all 0.5s ease;
}
.accordion .accordion-item .accordion-button.collapsed {
    background-color: #fff;
    transition: all 0.5s;
}
.accordion .accordion-item .accordion-button.collapsed:after {
    content: '+';
    width: 20px;
    height: 20px;
    right: 10px;
    line-height: 20px;
    color: #3c4858;
}
.accordion .accordion-item .accordion-button:after {
    background-image: none;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
    color: #ed5363;
    box-shadow: none;
}
.accordion .accordion-item .accordion-body {
    padding: 0 20px 20px;
}
.nav-pills {
    margin-bottom: 15px;
    background: #f4f5f8;
}
.nav-pills .nav-link {
    color: #495057 !important;
    padding: 5px;
    transition: all 0.5s ease;
}
.nav-pills .nav-link.nav-link-alt {
    color: #fff !important;
}
.nav-pills .nav-link.nav-link-alt.active {
    background: #3c4858 !important;
}
.nav-pills .nav-link.active {
    background: #ed5363;
    color: #fff !important;
}
.nav-pills .nav-link.active .tab-para {
    color: rgba(255, 255, 255, 0.5) !important;
}
.progress-box .progress {
    height: 4px;
    overflow: visible;
}
.progress-box .progress .progress-bar {
    border-radius: 6px;
    animation: animate-positive 3s;
    overflow: visible !important;
}
.progress-box .progress .progress-value {
    position: absolute;
    top: -32px;
    right: 0;
}
@keyframes animate-positive {
    0% {
        width: 0;
    }
}.blockquote {
     font-size: 18px;
     max-width: 700px;
     position: relative;
     padding: 24px;
 }
.form-label, .form-check-label {
    font-weight: 500;
    font-size: 15px;
}
.form-control {
    border: 1px solid #dee2e6;
    font-size: 13px;
    line-height: 32px;
    background-color: #fff;
    border-radius: 6px;
}
.form-control:focus {
    border-color: #ed5363;
    box-shadow: none;
}
.form-control[readonly] {
    background-color: #fff;
}
.form-control:disabled {
    background-color: #dee2e6;
}
.form-check-input:focus {
    border-color: #ed5363;
    box-shadow: none;
}
.form-check-input.form-check-input:checked {
    background-color: #ed5363;
    border-color: #ed5363;
}
.subcribe-form .btn {
    padding: 10px 20px;
}
.subcribe-form input {
    padding: 12px 20px;
    width: 100%;
    color: #3c4858 !important;
    border: none;
    outline: none !important;
    padding-right: 160px;
    background-color: rgba(255, 255, 255, 0.8);
}
.subcribe-form button {
    position: absolute;
    top: 1.5px;
    right: 2px;
    outline: none !important;
}
.subcribe-form form {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table-responsive .table td, .table-responsive .table th {
    vertical-align: middle;
}
.table-responsive .table.table-nowrap th, .table-responsive .table.table-nowrap td {
    white-space: nowrap;
}
.table-responsive .table-center th {
    vertical-align: middle !important;
}
.table-responsive .table-center tbody tr:hover {
    color: #3c4858;
    background-color: #f8f9fa;
}
.table-responsive .table-center.invoice-tb th, .table-responsive .table-center.invoice-tb td {
    text-align: end;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg,  #fff,  #fff);
    z-index: 9999999;
}
#preloader #status {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#preloader #status .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}
#preloader #status .spinner .double-bounce1, #preloader #status .spinner .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ed5363;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
#preloader #status .spinner .double-bounce2 {
    animation-delay: -1.0s;
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}.social-icon li a {
     color: #3c4858;
     border: 1px solid #3c4858;
     display: inline-block;
     height: 32px;
     width: 32px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 0.4s ease;
     overflow: hidden;
     position: relative;
 }
.social-icon li a .fea-social {
    stroke-width: 2;
}
.social-icon li a:hover {
    background-color: #ed5363;
    border-color: #ed5363 !important;
    color: #fff !important;
}
.social-icon li a:hover .fea-social {
    fill: #ed5363;
}
.social-icon.social li a {
    color: #8890a4;
    border-color: #8890a4;
}
.social-icon.foot-social-icon li a {
    color: #8890a4;
    border-color: #232d48;
}
.social-icon.team-social li a {
    color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}
.social-icon.tagline-social li a {
    border: none;
    height: auto;
    width: auto;
    padding-left: 8px;
}
.social-icon.tagline-social li a i {
    color: #8c98a4;
}
.social-icon.tagline-social li a i:hover {
    color: #ed5363 !important;
}
.social-icon.tagline-social li a:hover {
    background: transparent;
}
.social-icon.tagline-social.social-white li a i {
    color: #fff;
}
.social-icon.tagline-social.social-dark li a i {
    color: #3c4858;
}
.dropcaps {
    float: left;
    line-height: 1;
    font-weight: bold;
}
.back-to-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ed5363;
    color: #fff !important;
    font-size: 16px;
    text-align: center;
    z-index: 99;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    transition: all 0.5s ease;
}
.back-to-top:hover {
    background-color: #be3947 !important;
}
.back-to-home {
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 1;
}
.sticky-bar {
    position: sticky;
    top: 80px;
}
.fea {
    stroke-width: 1.8;
}
.fea.icon-sm {
    height: 16px;
    width: 16px;
}
.fea.icon-ex-md {
    height: 20px;
    width: 20px;
}
.fea.icon-m-md {
    height: 28px;
    width: 28px;
}
.fea.icon-md {
    height: 35px;
    width: 35px;
}
.fea.icon-lg {
    height: 42px;
    width: 42px;
}
.fea.icon-ex-lg {
    height: 52px;
    width: 52px;
}
[class^=uil-]:before, [class*=" uil-"]:before {
    margin: 0;
}
.uim-svg {
    vertical-align: 0 !important;
}
body {
    font-family: "Mulish", sans-serif;
    overflow-x: hidden !important;
    font-size: 15px;
    color: #3c4858;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Martel", serif;
    line-height: 1.5;
    font-weight: 500;
}
::selection {
    background: rgba(50, 116, 240, 0.9);
    color: #fff;
}
a {
    text-decoration: none !important;
}
p {
    line-height: 1.6;
}
.fw-medium {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}
.section {
    padding: 100px 0;
    position: relative;
}
@media (max-width: 768px) {
    .section {
        padding: 60px 0;
    }
}.section-two {
     padding: 60px 0;
     position: relative;
 }
.bg-overlay {
    background-color: rgba(22, 28, 45, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%}
.bg-gradient-primary {
    background: linear-gradient(to left,  #be3947 0%,  #614092 100%);
}
.bg-linear-gradient {
    background: linear-gradient(to bottom,  rgba(22, 28, 45, 0.8) 0%,  rgba(60, 72, 88, 0.3) 25%,  rgba(60, 72, 88, 0.3) 35%,  rgba(22, 28, 45, 0.8) 100%);
}
.bg-gradient-overlay {
    background: linear-gradient(to bottom,  rgba(22, 28, 45, 0.5) 0%,  rgba(22, 28, 45, 0.6) 25%,  rgba(22, 28, 45, 0.7) 50%,  rgba(22, 28, 45, 0.8) 100%);
}
.bg-gradient-white-overlay {
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%,  rgba(255, 255, 255, 0) 25%,  rgba(255, 255, 255, 0) 50%,  rgba(255, 255, 255, 0.5) 100%);
}
.bg-gradient-overlay-white {
    background-image: linear-gradient(to left,  rgba(255, 255, 255, 0.1) 0%,  rgba(255, 255, 255, 0.3) 5%,  rgba(255, 255, 255, 0.5) 10%,  rgba(255, 255, 255, 0.7) 15%,  rgba(255, 255, 255, 0.9) 20%,  #fff 25%,  #fff 30%,  #fff 35%,  #fff 40%,  #fff 45%,  #fff 50%,  #fff 55%,  #fff 60%,  #fff 65%,  #fff 70%,  #fff 75%,  rgba(255, 255, 255, 0.9) 80%,  rgba(255, 255, 255, 0.7) 85%,  rgba(255, 255, 255, 0.5) 90%,  rgba(255, 255, 255, 0.3) 95%,  rgba(255, 255, 255, 0.1) 100%);
}
.bg-gradient-overlay-dark {
    background-image: linear-gradient(to left,  rgba(22, 28, 45, 0.1) 0%,  rgba(22, 28, 45, 0.3) 5%,  rgba(22, 28, 45, 0.5) 10%,  rgba(22, 28, 45, 0.7) 15%,  rgba(22, 28, 45, 0.9) 20%,  #161c2d 25%,  #161c2d 30%,  #161c2d 35%,  #161c2d 40%,  #161c2d 45%,  #161c2d 50%,  #161c2d 55%,  #161c2d 60%,  #161c2d 65%,  #161c2d 70%,  #161c2d 75%,  rgba(22, 28, 45, 0.9) 80%,  rgba(22, 28, 45, 0.7) 85%,  rgba(22, 28, 45, 0.5) 90%,  rgba(22, 28, 45, 0.3) 95%,  rgba(22, 28, 45, 0.1) 100%);
}
.bg-overlay-white {
    background-color: rgba(255, 255, 255, 0.5);
}
.card {
    border: none;
}
.card .card-img {
    position: relative;
}
.card .card-img .card-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(to bottom,  transparent 0%,  transparent 25%,  transparent 35%,  rgba(22, 28, 45, 0.9) 100%);
    transition: all 0.5s ease;
}
.card:hover .card-img .card-overlay {
    opacity: 1;
}
.features-absolute {
    position: relative;
    z-index: 2;
    transition: all 0.5s ease;
}
.features-absolute {
    margin: -200px 0 0px;
}
@media (max-width: 768px) {
    .features-absolute {
        margin: -140px 0 0;
    }
}.title-heading {
     line-height: 26px;
 }
.title-heading .heading {
    font-size: 45px !important;
    letter-spacing: 1px;
}
.title-heading .heading.page-heading {
    font-size: 36px !important;
}
@media (max-width: 768px) {
    .title-heading .heading.page-heading {
        font-size: 30px !important;
    }
}@media (max-width: 768px) {
    .title-heading .heading {
        font-size: 36px !important;
    }
}.title-heading .para-desc {
     font-size: 16px;
 }
.section-title .title {
    font-size: 28px !important;
}
@media (max-width: 768px) {
    .section-title .title {
        font-size: 24px !important;
    }
}.para-desc {
     max-width: 600px;
 }
.mt-100 {
    margin-top: 100px;
}
.shape {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: -2px;
    left: 0;
}
.shape>svg {
    transform: scale(2);
    width: 100%;
    height: auto;
    transform-origin: top center;
}
.shape.seo-hero {
    clip-path: polygon(50% 0%,  0% 100%,  100% 100%);
    height: 250px;
    background: #fff;
}
@media (max-width: 768px) {
    .shape.seo-hero {
        height: 140px;
    }
}@media (max-width: 425px) {
    .shape.seo-hero {
        height: 60px;
    }
}@media (max-width: 425px) {
    .shape {
        bottom: -4px;
    }
}.home-shape-arrow {
     display: block;
     position: absolute;
     width: 100%;
     height: auto;
     bottom: 25px;
     z-index: 1;
     left: 0;
 }
.home-shape-arrow i {
    background: #f7f8fa;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    border-radius: 30px;
}
.home-shape-arrow .arrow-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
}
.ribbon.ribbon-primary span {
    background-color: #ed5363 !important;
}
.ribbon.ribbon-primary span:before {
    border-left-color: #be3947;
    border-top-color: #be3947;
}
.ribbon.ribbon-primary span:after {
    border-right-color: #be3947;
    border-top-color: #be3947;
}
.ribbon.ribbon-secondary span {
    background-color: #90a1b3 !important;
}
.ribbon.ribbon-secondary span:before {
    border-left-color: #72879e;
    border-top-color: #72879e;
}
.ribbon.ribbon-secondary span:after {
    border-right-color: #72879e;
    border-top-color: #72879e;
}
.ribbon.ribbon-success span {
    background-color: #8dc351 !important;
}
.ribbon.ribbon-success span:before {
    border-left-color: #73a73a;
    border-top-color: #73a73a;
}
.ribbon.ribbon-success span:after {
    border-right-color: #73a73a;
    border-top-color: #73a73a;
}
.ribbon.ribbon-warning span {
    background-color: #f1af2d !important;
}
.ribbon.ribbon-warning span:before {
    border-left-color: #dc970f;
    border-top-color: #dc970f;
}
.ribbon.ribbon-warning span:after {
    border-right-color: #dc970f;
    border-top-color: #dc970f;
}
.ribbon.ribbon-info span {
    background-color: #09a5be !important;
}
.ribbon.ribbon-info span:before {
    border-left-color: #077b8d;
    border-top-color: #077b8d;
}
.ribbon.ribbon-info span:after {
    border-right-color: #077b8d;
    border-top-color: #077b8d;
}
.ribbon.ribbon-danger span {
    background-color: #e84142 !important;
}
.ribbon.ribbon-danger span:before {
    border-left-color: #db1b1c;
    border-top-color: #db1b1c;
}
.ribbon.ribbon-danger span:after {
    border-right-color: #db1b1c;
    border-top-color: #db1b1c;
}
.ribbon.ribbon-dark span {
    background-color: #3c4858 !important;
}
.ribbon.ribbon-dark span:before {
    border-left-color: #272f3a;
    border-top-color: #272f3a;
}
.ribbon.ribbon-dark span:after {
    border-right-color: #272f3a;
    border-top-color: #272f3a;
}
.ribbon.ribbon-muted span {
    background-color: #8c98a4 !important;
}
.ribbon.ribbon-muted span:before {
    border-left-color: #707f8d;
    border-top-color: #707f8d;
}
.ribbon.ribbon-muted span:after {
    border-right-color: #707f8d;
    border-top-color: #707f8d;
}
.ribbon.ribbon-light span {
    background-color: #f7f8fa !important;
}
.ribbon.ribbon-light span:before {
    border-left-color: #d8dde6;
    border-top-color: #d8dde6;
}
.ribbon.ribbon-light span:after {
    border-right-color: #d8dde6;
    border-top-color: #d8dde6;
}
.ribbon.ribbon-blue span {
    background-color: #ed5363 !important;
}
.ribbon.ribbon-blue span:before {
    border-left-color: #be3947;
    border-top-color: #be3947;
}
.ribbon.ribbon-blue span:after {
    border-right-color: #be3947;
    border-top-color: #be3947;
}
.ribbon.ribbon-footer span {
    background-color: #1e273e !important;
}
.ribbon.ribbon-footer span:before {
    border-left-color: #0e111c;
    border-top-color: #0e111c;
}
.ribbon.ribbon-footer span:after {
    border-right-color: #0e111c;
    border-top-color: #0e111c;
}
.ribbon {
    position: absolute;
    top: -5px;
    width: 75px;
    height: 75px;
    z-index: 2;
}
.ribbon.ribbon-right {
    right: -5px;
}
.ribbon.ribbon-right span {
    right: -22px;
    transform: rotate(45deg);
}
.ribbon.ribbon-left {
    left: -5px;
}
.ribbon.ribbon-left span {
    left: -22px;
    transform: rotate(-45deg);
}
.ribbon span {
    position: absolute;
    top: 17px;
    width: 100px;
    color: #fff;
}
.ribbon span:before, .ribbon span:after {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
    border: 3px solid transparent;
}
.ribbon span:before {
    left: 0;
}
.ribbon span:after {
    right: 0;
}
.text-slider {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0,  0,  0);
}
.text-slider>ul {
    white-space: nowrap;
}
.text-slider .move-text {
    animation: moveSlideshow 12s linear infinite;
}
@keyframes moveSlideshow {
    100% {
        transform: translateX(-45%);
    }
}.mover {
     animation: mover 1s infinite alternate;
 }
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}.feature-posts-placeholder {
     position: absolute;
     bottom: 0px;
     left: 0;
     right: 0;
     height: 66.6%}
@media (max-width: 425px) {
    .feature-posts-placeholder {
        height: 80%}
}@media (max-width: 768px) {
    .img-fluid-responsive img {
        max-width: 550px;
    }
}@media (max-width: 767px) {
    .img-fluid-responsive img {
        max-width: 100%;
        height: auto;
    }
}@media (min-width: 768px) {
    .margin-top-100 {
        margin-top: 100px;
    }
}@media (max-width: 768px) {
    .mt-60 {
        margin-top: 60px;
    }
}#topnav {
     position: fixed;
     right: 0;
     left: 0;
     top: 0;
     z-index: 999;
     background-color: transparent;
     border: 0;
     transition: all .5s ease;
     font-family: "Martel", serif;
 }
#topnav .logo {
    float: left;
    color: #3c4858 !important;
}
#topnav .logo svg {
    height: 36px;
    width: 107px;
}

@media (min-width: 991px) {
    #topnav .logo svg {
        height: 47px;
        width: 140px;
    }
}

#topnav .logo .l-dark {
    display: none;
}
#topnav .logo .l-light {
    display: inline-block;
}
#topnav .logo:focus {
    outline: none;
}
#topnav .has-submenu {
    position: relative;
}
#topnav .has-submenu .submenu.megamenu .menu-list-icon {
    font-size: 16px !important;
}
#topnav .has-submenu .submenu .submenu-arrow {
    border: solid #3c4858;
    border-radius: 0.5px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease;
    position: absolute;
    right: 20px;
    top: 14px;
}
#topnav .has-submenu .submenu .has-submenu:hover .submenu-arrow {
    border-color: #ed5363;
}
#topnav .has-submenu.active a {
    color: #fff;
}
#topnav .has-submenu.active .submenu li.active>a {
    color: #ed5363 !important;
}
#topnav .has-submenu.active.active .menu-arrow {
    border-color: #ed5363;
}
#topnav .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#topnav .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 26px 0 30px 10px;
    height: 18px;
}
#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: #3c4858;
    display: block;
    margin-bottom: 5px;
    transition: transform .5s ease;
}
#topnav .navbar-toggle span:last-child {
    margin-bottom: 0;
}
#topnav .buy-button {
    float: right;
    line-height: 48px;
    padding-bottom: 6px;
}
#topnav .buy-button>li {
    line-height: initial;
}
#topnav .buy-button .nav-light-icon-dark {
    display: none;
}
#topnav .buy-button .nav-light-icon-white {
    display: inline-block;
}
#topnav .buy-button .dropdown .dropdown-toggle:after, #topnav .buy-menu-btn .dropdown .dropdown-toggle:after {
    display: none;
}
#topnav .navbar-toggle.open span {
    position: absolute;
}
#topnav .navbar-toggle.open span:first-child {
    top: 6px;
    transform: rotate(45deg);
}
#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}
#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    transform: rotate(-45deg);
}
#topnav .navbar-toggle.open span:hover {
    background-color: #ed5363;
}
#topnav .navbar-toggle:hover, #topnav .navbar-toggle:focus, #topnav .navbar-toggle .navigation-menu>li>a:hover, #topnav .navbar-toggle:focus {
    background-color: transparent;
}
#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
#topnav .navigation-menu>li {
    float: left;
    display: block;
    position: relative;
    margin: 0 10px;
}
#topnav .navigation-menu>li:hover>a, #topnav .navigation-menu>li.active>a {
    color: #2e2f36 !important;
}
#topnav .navigation-menu>li>a {
    display: block;
    color: #2e2f36;
    font-size: 18px;
    background-color: transparent !important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-transform: capitalize;
    transition: all 0.5s;
    padding-left: 10px;
    padding-right: 10px;
}
#topnav .navigation-menu>li>a:hover, #topnav .navigation-menu>li>a:active {
    color: #ed5363;
}
#topnav .navigation-menu>li .submenu.megamenu li .megamenu-head {
    padding: 10px 20px;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    color: #3c4858 !important;
}
#topnav .navigation-menu.nav-right>li:last-child {
    margin-right: 0;
}
#topnav .navigation-menu.nav-right>li:last-child a {
    padding-right: 0;
}
#topnav .navigation-menu.nav-left>li:first-child {
    margin-left: 0;
}
#topnav .navigation-menu .has-submenu .menu-arrow {
    border: solid #3c4858;
    border-radius: 0.5px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    transition: all 0.5s;
    right: -1px;
    top: 30px;
}
#topnav .menu-extras {
    float: right;
}
#topnav.scroll {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}
#topnav.scroll .navigation-menu>li>a {
    color: #3c4858;
}
#topnav.scroll .navigation-menu>li>.menu-arrow {
    border-color: #3c4858;
}
#topnav.scroll .navigation-menu>li:hover>a, #topnav.scroll .navigation-menu>li.active>a {
    color: #ed5363;
}
#topnav.scroll .navigation-menu>li:hover>.menu-arrow, #topnav.scroll .navigation-menu>li.active>.menu-arrow {
    border-color: #ed5363;
}
#topnav.defaultscroll.dark-menubar .logo {
    line-height: 70px;
}
#topnav.defaultscroll.scroll .logo {
    line-height: 62px;
}
#topnav.defaultscroll.scroll.dark-menubar .logo {
    line-height: 62px;
}
#topnav.nav-sticky {
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}
#topnav.nav-sticky .navigation-menu.nav-light>li>a {
    color: #3c4858;
}
#topnav.nav-sticky .navigation-menu.nav-light>li.active>a {
    color: #ed5363 !important;
}
#topnav.nav-sticky .navigation-menu.nav-light>li:hover>.menu-arrow, #topnav.nav-sticky .navigation-menu.nav-light>li.active>.menu-arrow {
    border-color: #ed5363 !important;
}
#topnav.nav-sticky .navigation-menu.nav-light>li:hover>a, #topnav.nav-sticky .navigation-menu.nav-light>li.active>a {
    color: #ed5363 !important;
}
#topnav.nav-sticky .navigation-menu.nav-light .has-submenu .menu-arrow {
    border-color: #3c4858;
}
#topnav.nav-sticky.tagline-height {
    top: 0 !important;
}
#topnav.nav-sticky .buy-button .nav-light-icon-dark {
    display: inline-block;
}
#topnav.nav-sticky .buy-button .nav-light-icon-white {
    display: none;
}
#topnav.nav-sticky .logo .l-dark {
    display: inline-block;
}
#topnav.nav-sticky .logo .l-light {
    display: none;
}
.logo {
    font-weight: 600;
    font-size: 24px;
    margin-right: 15px;
    padding: 0 5px 6px 0;
    letter-spacing: 1px;
    line-height: 48px;
}
@media (min-width: 1025px) {
    #topnav .navigation-menu>li .submenu.megamenu {
        width: 1116px !important;
    }
}@media screen and (max-width: 1024px) and (min-width: 992px) {
    #topnav .navigation-menu>li .submenu.megamenu {
        width: 936px !important;
    }
}@media (min-width: 992px) {
    #topnav .navigation-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #topnav .navigation-menu>.has-submenu .submenu .has-submenu:hover .submenu-arrow {
        right: 16px;
    }
    #topnav .navigation-menu>.has-submenu .menu-arrow {
        display: none;
    }
    #topnav .navigation-menu>.has-submenu:hover .menu-arrow {
        top: 33px !important;
    }
    #topnav .navigation-menu>.has-submenu.active .menu-arrow {
        top: 30px;
    }
    #topnav .navigation-menu>li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        padding: 15px 0;
        list-style: none;
        min-width: 180px;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        transition: all .2s ease;
        border-radius: 0;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    }
    #topnav .navigation-menu>li .submenu li {
        position: relative;
    }
    #topnav .navigation-menu>li .submenu li a {
        display: block;
        padding: 10px 20px;
        clear: both;
        white-space: nowrap;
        font-size: 18px;
        text-transform: capitalize;
        letter-spacing: 0;
        font-weight: 600;
        color: #2e2f36 !important;
        transition: all 0.3s;
    }
    #topnav .navigation-menu>li .submenu li a:hover {
        color: #767677 !important;
    }
    #topnav .navigation-menu>li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    #topnav .navigation-menu>li .submenu.megamenu {
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
        top: auto;
        display: flex;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li {
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        width: 20%}
    #topnav .navigation-menu>li .submenu.megamenu>li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px;
    }
    #topnav .navigation-menu>li .submenu>li .submenu {
        left: 101%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px;
    }
    #topnav .navigation-menu>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 42px;
    }
    #topnav .navigation-menu>li:hover>.menu-arrow {
        border-color: #ed5363;
    }
    #topnav .navigation-menu>li:hover>a, #topnav .navigation-menu>li.active>a {
        color: #2e2f36 !important;
    }
    #topnav .navigation-menu>li:last-child .submenu {
        left: auto;
        right: 0;
    }
    #topnav .navigation-menu>li:last-child .submenu:before {
        left: auto;
        right: 10px;
    }
    #topnav .navigation-menu>li:last-child .submenu>li.has-submenu .submenu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 10px;
    }
    #topnav .navigation-menu.nav-light>li>a {
        color: #2e2f36;
    }
    #topnav .navigation-menu.nav-light>li.active>a {
        border-bottom: solid 3px #ed5363;
    }
    #topnav .navigation-menu.nav-light>li:hover>.menu-arrow {
        border-color: #fff !important;
    }
    #topnav .navigation-menu.nav-light>li:hover>a {
        color: #767677 !important;
    }
    #topnav .navigation-menu.nav-light .has-submenu .menu-arrow {
        border-color: rgba(255, 255, 255, 0.5);
    }
    #topnav .navigation-menu.nav-light .has-submenu.active .menu-arrow {
        border-color: #fff !important;
    }
    #topnav .navigation-menu.nav-right {
        justify-content: flex-end !important;
    }
    #topnav .navigation-menu.nav-left {
        justify-content: flex-start !important;
    }
    #topnav .navigation-menu.nav-left>li.last-elements .submenu {
        left: 0 !important;
        right: auto !important;
    }
    #topnav .navigation-menu.nav-left>li.last-elements .submenu:before {
        left: 45px !important;
        right: auto !important;
    }
    #topnav .buy-button {
        padding-left: 15px;
        margin-left: 15px;
    }
    #topnav .navbar-toggle {
        display: none;
    }
    #topnav #navigation {
        display: block !important;
    }
    #topnav.scroll {
        top: 0;
    }
    #topnav.scroll .navigation-menu>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #topnav.scroll-active .navigation-menu>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
@media (max-width: 991px) {
    #topnav {
        min-height: 74px;
    }
    #topnav .logo {
        padding: 19px 0;
        line-height: 68px;
    }
    #topnav .logo .l-dark {
        display: inline-block !important;
    }
    #topnav .logo .l-light {
        display: none !important;
    }
    #topnav .buy-button {
        line-height: 68px;
    }
    #topnav .container {
        width: auto;
    }
    #topnav #navigation {
        max-height: 400px;
    }
    #topnav .navigation-menu {
        float: none;
    }
    #topnav .navigation-menu>li {
        float: none;
    }
    #topnav .navigation-menu>li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }
    #topnav .navigation-menu>li .submenu li a {
        display: block;
        position: relative;
        padding: 7px 15px;
        text-transform: capitalize;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 600;
        color: #2e2f36 !important;
        transition: all 0.3s;
    }
    #topnav .navigation-menu>li .submenu.megamenu li .megamenu-head {
        padding: 7px 15px;
    }
    #topnav .navigation-menu>li .submenu.open {
        display: block;
    }
    #topnav .navigation-menu>li .submenu .submenu {
        display: none;
        list-style: none;
    }
    #topnav .navigation-menu>li .submenu .submenu.open {
        display: block;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul {
        list-style: none;
        padding-left: 0;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul>li>span {
        display: block;
        position: relative;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: #8c98a4;
    }
    #topnav .navigation-menu>li>a {
        color: #3c4858;
        padding: 10px 20px;
    }
    #topnav .navigation-menu>li>a:after {
        position: absolute;
        right: 15px;
    }
    #topnav .navigation-menu .has-submenu .menu-arrow {
        right: 16px;
        top: 16px;
    }
    #topnav .navigation-menu>li>a:hover, #topnav .navigation-menu>li .submenu li a:hover, #topnav .navigation-menu>li.has-submenu.open>a {
        color: #ed5363;
    }
    #topnav .menu-extras .menu-item {
        border-color: #8c98a4;
    }
    #topnav .navbar-header {
        float: left;
    }
    #topnav .buy-button .nav-light-icon-dark {
        display: inline-block !important;
    }
    #topnav .buy-button .nav-light-icon-white {
        display: none;
    }
    #topnav .has-submenu .submenu .submenu-arrow {
        transform: rotate(45deg);
        position: absolute;
        right: 20px;
        top: 12px;
    }
    #topnav .has-submenu.active a {
        color: #ed5363;
    }
    #topnav.nav-sticky {
        background-color: #fff !important;
    }
    #navigation {
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #f1f3f6;
        border-bottom: 1px solid #f1f3f6;
        background-color: #fff;
    }
    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}@media (max-width: 768px) {
    #topnav .buy-button {
        padding: 3px 0;
    }
}@media (min-width: 768px) {
    #topnav .navigation-menu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
    #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle {
        display: block;
    }
}@media (max-width: 425px) {
    #topnav .navigation-menu>li {
        margin: 0;
    }
    #topnav .navigation-menu>li>a {
        padding: 10px 15px;
    }
    #topnav .navbar-toggle .lines {
        margin-right: 0 !important;
    }
}@media (max-width: 375px) {
    #topnav .buy-button .search-icon {
        padding-left: 15px;
    }
    #topnav .buy-menu-btn {
        display: block !important;
        margin: 0 10px;
        padding: 10px 20px;
    }
    #topnav .buy-menu-btn .dropdown .dropdown-menu.show {
        transform: translate3d(0px,  -54px,  0px) !important;
    }
}

/* Our Mission */
.c-image-copy-module {
    padding-bottom: 0;
    padding-top: 50%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.-my-80 {
    margin-top: -20rem !important;
    margin-bottom: -20rem !important;
}

.py-80 {
    padding-top: 20rem !important;
    padding-bottom: 20rem !important;
}

.c-image-copy-module__body-masthead {
    padding-top: 105px;
}

.c-image-copy-module__body {
    color: #2e2f36;
}

.c-image-copy-module__body:before {
    bottom: 6px;
    content: "";
    display: block;
    left: 6px;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: -1;
}

.c-image-copy-module__masthead .c-image-copy-module__body:before {
    background: linear-gradient(212.41deg,#fff -8.58%,#cbdced 73.09%);
    display: inline-block;
    height: calc(100% - 260px);
    opacity: .7;
}

.c-image-copy-module--theme_dark-slate {
    background: #2e2f36;
}

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1224px + 2 * 20px);
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.o-container--xl {
    --container-content-max-width: 1224px;
}

.z-20 {
    z-index: 20 !important;
}

.z-10 {
    z-index: 10 !important;
}

.c-image-copy-module__heading--theme_dark-slate, .c-image-copy-module__heading--theme_sky-blue {
    background: none;
}

.c-image-copy-module__link {
    max-width: 100%;
    padding: 2.5rem 3rem 2.5rem 1.75rem !important;
}

.c-image-copy-module__label {
    font-family: "Mulish", sans-serif;
    font-size: 16px !important;
    letter-spacing: .3em;
    line-height: 1.5;
    padding-bottom: 2rem !important;
}

.c-image-copy-module__title {
    font-size: 1.25rem !important;
    line-height: 1.5 !important
}

.c-image-copy-module__link p {
    padding-bottom: 1.75rem !important;
}

.c-image-copy-module__image-wrapper {
    width: 100%;
    margin-top: calc(-50% + 45px);
}

.a-svg {
    display: block;
}

.a-svg svg {
    height: inherit;
    width: inherit;
}

svg {
    max-width: 100%;
}

.c-image-copy-module__decoration-thumbprint_end {
    height: 159px;
    opacity: .15;
    right: -42px;
    rotate: 90deg;
    top: -60px;
    transform: rotate(90deg);
    width: 172px;
}

.o-aspect-ratio {
    display: block;
    width: 100%;
}

.o-aspect-ratio:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}

.o-aspect-ratio>embed,
.o-aspect-ratio>iframe,
.o-aspect-ratio>object,
.o-aspect-ratio__content,
.o-aspect-ratio__content>embed,
.o-aspect-ratio__content>iframe,
.o-aspect-ratio__content>object {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.z-40 {
    z-index: 40 !important;
}

.z-60 {
    z-index: 60 !important;
}

.c-image-copy-module__image-front {
    height: calc(100% - 45px)!important;
    width: calc(100% - 45px)!important;
    left: 0;
}

.object-cover {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

.a-video.o-aspect-ratio__content>*,
.a-video.o-aspect-ratio__content iframe,
.a-video.o-aspect-ratio__content video {
    height: 100%;
    width: 100%;
}

.object-contain {
    -o-object-fit: contain !important;
    object-fit: contain !important;
}

.w-full {
    width: 100% !important;
}

.h-full {
    height: 100% !important;
}

.pointer-events-none {
    pointer-events: none !important;
}

.fill-current {
    fill: currentColor !important;
}

.c-image-copy-module__image-front .play-icon-wrapper {
    width: 5rem !important;
    height: 5rem !important;
}

.a-svg.fill-current [fill] {
    fill: currentColor;
}

.c-image-copy-module__image-back {
    height: calc(100% + 18px);
    width: calc(100% - 35px);
    top: -1.75rem !important;
    left: 2.25rem !important;
}

.c-image-copy-module__image-back-wrapper {
    left: -1.5rem !important;
    right: -1.5rem !important;
    top: -1.5rem !important;
    bottom: -1.5rem !important;
}

.blur {
    --tw-blur: blur(8px) !important;
    filter: blur(8px) !important;
}

.c-image-copy-module__volume {
    padding-bottom: 100%;
}

.whitespace-pre {
    white-space: pre !important;
}

.c-image-copy-module__decoration-text {
    color: transparent;
    font-size: 80px !important;
    line-height: 125%;
    opacity: .5;
    -webkit-text-stroke-color: #4b545b;
    -webkit-text-stroke-width: 0.5px;
    transform: translateY(50%);
    margin-top: -2.5rem !important;
    margin-bottom: 2.5rem !important;
}

@media (min-width: 768px) {
    .c-image-copy-module {
        padding-bottom: 50px;
        padding-top: 120px;
        margin-top: 7.5rem;
        margin-bottom: 7.5rem;
    }

    .c-image-copy-module__body:before {
        bottom: 14px;
        left: 14px;
        right: 14px;
        top: 14px;
    }

    .c-image-copy-module--theme_dark-slate, .c-image-copy-module--theme_sky-blue {
        background: none;
    }

    .c-image-copy-module__heading--theme_dark-slate {
        background: #2e2f36;
    }
    .c-image-copy-module__link {
        max-width: 400px;
        padding-left: 1.25rem !important;
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }

    .c-image-copy-module__label {
        font-size: 20px !important;
    }

    .c-image-copy-module__title {
        font-size: 2.12rem !important;
    }

    .c-image-copy-module__image-wrapper {
        margin-top: 0;
    }

    .c-image-copy-module__decoration-thumbprint_end {
        height: 274px;
        right: -52px;
        top: -100px;
        width: 296px;
    }

    .c-image-copy-module__image-front {
        height: calc(100% - 18px)!important;
        width: calc(100% - 18px)!important;
        left: -1.25rem;
    }

    .c-image-copy-module__image-back {
        height: calc(100% + 74px);
        width: 100%;
        left: 0 !important;
        top: -2.75rem !important;
    }
}

@media (min-width: 1280px) {
    .c-image-copy-module__link {
        max-width: 700px;
        padding-left: 6rem !important;
        padding-right: 8rem !important;
    }

    .c-image-copy-module__image-front {
        left: -4rem;
    }
}